:root {
  --sidebar-open-width: 250px;
  --sidebar-collapsed-width: 65px;
}


.app-header {
  position: fixed;
  top: 0;
  right: 0;
  height: 56px;
  transition: all 0.3s ease;
}

body:not(.sidebar-collapse) .app-header {
  left: var(--sidebar-open-width);
  width: calc(100% - var(--sidebar-open-width));
}

body.sidebar-collapse .app-header {
  left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}



body.fixed-footer {
  
    .app-sidebar{
        position: fixed;
        left:0;
      top: 0;
      height: 100vh;
  }
  
}


.app-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  transition: all 0.3s ease;
}

body:not(.sidebar-collapse) .app-footer {
  left: var(--sidebar-open-width);
  width: calc(100% - var(--sidebar-open-width));
}

body.sidebar-collapse .app-footer {
  left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}


[data-overlayscrollbars~="host"] {
  width: 100% !important;
}


.app-main {
  padding: 0px;
  margin-top: 0px;
  min-height: calc(100vh - 56px - 40px);
  transition: margin-left 0.3s ease;
}

body:not(.sidebar-collapse) .app-main {
  margin-left: 250px;
  width: 91%;
}

body.sidebar-collapse .app-main {
  margin-left: 80px;
  width: 97%;
}
.user-main {
  transition: margin-left 0.6s ease;
  transition: width 0.4s ease;
  width: 76vw;
}

body:not(.sidebar-collapse) .user-main {
  margin-left: 45px;
}

body.sidebar-collapse .user-main {
  margin-left: 40px;
  width:87vw;
}







.app-sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

body.sidebar-collapse .app-sidebar {
  width: 50px;
}



.mat-mdc-table {
  width: 100%;
  overflow-x: auto;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #6496c8;
}

.mat-mdc-header-cell {
  font-size: 17px;
  font-weight: 600;
  color: #090003;
  text-transform: uppercase;
  padding: 12px 10px;
  border-bottom: 1px solid #e5e7eb;

  text-align: center;
  justify-content: center;
}

.mat-mdc-cell {
  font-size: 16px;
  padding: 12px 10px;

  text-align: center;
  justify-content: center;

  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.mat-mdc-row:hover {
  background-color: var(--dark-color);
  transition: background-color 0.2s ease-in-out;
}

.mat-mdc-header-row {
  background-color: #6a0dad !important;
}

.mat-mdc-header-cell {
  background-color: #6a0dad !important;
  color: #ffffff !important;
  font-weight: 600;
}
.mat-mdc-header-cell:hover {
  background-color: #a08ab6 !important;
}





























