/* You can add global styles to this file, and also import other style files */
:root {
  --sidebar-open-width: 250px;
  --sidebar-collapsed-width: 65px; /* or 80px for sidebar-mini */
}


.app-header {
  position: fixed;
  top: 0;
  right: 0;
  height: 56px;
  transition: all 0.3s ease;
}

/* sidebar open */
body:not(.sidebar-collapse) .app-header {
  left: var(--sidebar-open-width);
  width: calc(100% - var(--sidebar-open-width));
}

/* sidebar collapsed */
body.sidebar-collapse .app-header {
  left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}


// body.fixed-foote

body.fixed-footer {
  
    .app-sidebar{
        position: fixed;
        left:0;
      top: 0;
      height: 100vh;
  }
  
}


.app-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  transition: all 0.3s ease;
}

/* sidebar open */
body:not(.sidebar-collapse) .app-footer {
  left: var(--sidebar-open-width);
  width: calc(100% - var(--sidebar-open-width));
}

/* sidebar collapsed */
body.sidebar-collapse .app-footer {
  left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}


[data-overlayscrollbars~="host"] {
  width: 100% !important;
}


.app-main {
  padding: 0px;
  margin-top: 0px;
  min-height: calc(100vh - 56px - 40px);
  transition: margin-left 0.3s ease;
}

body:not(.sidebar-collapse) .app-main {
  margin-left: 250px;
  width: 91%;
}

body.sidebar-collapse .app-main {
  margin-left: 80px;
  width: 97%;
}
.user-main {
  transition: margin-left 0.6s ease;
  transition: width 0.4s ease;
  width: 76vw;
}

body:not(.sidebar-collapse) .user-main {
  margin-left: 45px; /* sidebar open */
}

body.sidebar-collapse .user-main {
  margin-left: 40px; /* sidebar collapsed */
  width:87vw;
}







/* NORMAL */
.app-sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

/* COLLAPSED */
body.sidebar-collapse .app-sidebar {
  width: 50px;   /* or 80px (AdminLTE default mini) */
}
// .user-main{
//   .app-content-header{
//     .main-row{
//       width: 80vw;
//     }
//   }
// }


/* styles.scss (global) */

.ngx-datatable.material .datatable-header .datatable-header-cell {
  background-color: #6496c8 !important;
  border-bottom: 1px solid #e5e7eb !important;
}

.ngx-datatable.material .datatable-header-cell {
  font-size: 17px !important;
  font-weight: 600 !important;
  color: #090003 !important;
  text-transform: uppercase;
  padding: 12px 10px !important;
}
.ngx-datatable .datatable-header {
  position: sticky;
  top: 0px;
  // top: 56px;
  z-index: 100;
}
.ngx-datatable .sort-btn:hover {
  color: #520707;
}

.ngx-datatable .sort-btn {
  color: #020219;
}

/* center header cells */
.ngx-datatable.material .datatable-header-cell {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

/* center body cells */
.ngx-datatable.material .datatable-body-cell {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.ngx-datatable.material .datatable-body-cell-label {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.ngx-datatable.material .datatable-row-center {
  align-items: stretch !important;
}

.ngx-datatable.material .datatable-body-cell-label {
  font-size: 16px !important;
}
// .ngx-datatable {
//   width: 99% !important;
//   overflow-x: auto;
// }

.ngx-datatable-table {
  width: 100%;
  overflow-x: auto;
}

ngx-datatable {
  min-width: 1300px; /* adjust based on total column width */
}






















