.user-menu{

  .dropdown-menu {
    right: 0% !important;
    left: auto !important;
    top: 100% !important;
    transform: translateY(0) !important;
  }
}

.message-menu{

  .dropdown-menu {
    right: -12vh !important;
    top: 100% !important;
    transform: translateY(0) !important;
  }
}

.noti-menu{

  .dropdown-menu {
    right: -12vh !important;
    left: auto !important;
    top: 100% !important;
    transform: translateY(0) !important;
  }
}

.navbar-badge{
  font-size: 0.6 rem;
  font-weight: 400;
  padding: 2px 4px;
}
li.nav-item{
  a{
    padding: 8px 16px;
  }
}