.analytics-row {
  display: flex;
  gap: 16px;
  width: 100%;
}

/* Each chart takes equal width */
.analytics-card {
  flex: 1;
  min-width: 0; /* 🔥 VERY IMPORTANT (prevents cut) */
}

/* Chart height */
ngx-charts-bar-vertical,
ngx-charts-pie-chart {
  display: block;
  height: 300px;
}

/* Stack vertically on small screens */
@media (max-width: 992px) {
  .analytics-row {
    flex-direction: column;
  }
}

.card {
  background: #474356;
  color: #000000;
}

.card-header {
  background: #152752;
  border-bottom: 1px solid #334155;
  color: #e5e7eb;
}

