<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <div class="sidebar-brand">
    <a href="./index.html" class="brand-link">
      <img src="./img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" />
      <span class="brand-text fw-light">E-Commerce</span>
    </a>
  </div>
  <div class="sidebar-wrapper" data-overlayscrollbars="host">
    <div
      data-overlayscrollbars-viewport="scrollbarHidden overflowXHidden overflowYScroll"
      overlay-scrollbars
      [defer]="true"
      [options]="{ scrollbars: { autoHide: 'scroll' } }"
    >
      <nav class="mt-2">
        <ul
          class="nav sidebar-menu flex-column"
          data-lte-toggle="treeview"
          role="navigation"
          aria-label="Main navigation"
          data-accordion="false"
          id="navigation"
        >
          @for (item of list(); track $index) { @if (!item?.sub_menu) { @if (item.heading) {
          <li class="nav-header">{{ item.label }}</li>

          } @else {
          <li class="nav-item">
            <a [routerLink]="[item.route]" routerLinkActive="active" class="nav-link">
              <i [ngClass]="item?.icon"></i>
              <p>{{ item.label }}</p>
            </a>
          </li>

          } } @else {
          <li class="nav-item" [ngClass]="{ 'menu-open': isActive() === item.label }">
            <a class="nav-link" (click)="isActiveChange(item.label)">
              <i [ngClass]="item?.icon"></i>
              <p>
                {{ item.label }}
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            @if (isActive()===item.label) {
            <ul class="nav nav-treeview">
              @for (sub of item.sub_menu; track $index) {
              <li class="nav-item">
                <a [routerLink]="sub.route" class="nav-link"
                routerLinkActive="active">
                  <i [ngClass]="sub?.icon"></i>
                  <p>{{ sub.label }}</p>
                </a>
              </li>
              }
            </ul>
            }
          </li>
          } }
        </ul>
      </nav>
    </div>
  </div>
</aside>
