.app-sidebar {
  height: 100vh;
}

.sidebar-wrapper {
  height: calc(100vh - 56px);
}
li{
  i{
    color: var(--primary-color);
  }
}
.nav-item{
  .nav-link.active{
    background-color: var(--secondary-color) !important;
    i{
      color: var(--danger-color) !important;
    }
  }
}
.nav-item.menu-open{
  background-color: rgb(50, 90, 90) !important;
}